* {
    padding: 0;
    margin: 0;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

li{
    list-style: none;
}

li a {
    text-decoration: none;
}

.top-wrapper {
    background-image: url(../IMG/reserve-main.jpg);
    height: 800px;
    display: flex;
}

.menu {
    background-color: rgba(83, 75, 75, 0.2);
    height: 800px;
    width: 13%;
}

.menu img {
    width: 50%;
    padding: 25% 25% 30% 25%;
}

.menu ul {
    padding-left: 25%;
}

.menu ul li {
    padding-bottom: 20%;
}

.menu ul li a:hover {
    opacity: 0.9;
    color: rgba(182, 166, 50, 0.6);
}

.menu ul li a {
    color: white;
    opacity: 0.6;
    font-size: 16px;
    transition: all 0.3s;
}

.top-wrapper h1 {
    writing-mode: vertical-rl;
    color: white;
    padding: 200px 0 200px 900px;
    font-size: 56px;
    opacity: 0.8;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.container h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 80px;
    border-bottom: double 8px rgba(139, 125, 19, 0.6);
    color: rgba(255, 255, 255, 0.8);
}

.reserve-wrapper {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
}

.reserve-wrapper p {
    padding-top: 80px;
    margin: 0 auto;
    width: 80%;
}

.reserve-wrapper h4 {
    width: 30%;
    font-size: 24px;
    padding-left: 70%;
    padding-top: 40px;
}

footer {
    background-color: black;
}

.menu-lavel {
    width: 100%;
    background-color: rgba(182, 166, 50, 0.6);
}

.menu-lavel ul {
    display: flex;
    width: 48%;
    margin: 0 auto;
    /* margin: 0 auto; */
}

.menu-lavel ul li {
    padding: 24px;
}

.menu-lavel ul li a {
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

.menu-lavel ul li a:hover {
    opacity: 0.8;
}

.sns-wrapper {
    background-color: black;
}

.bottom-wrapper {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}


.bottom-wrapper img{
    width: 32px;
    padding: 32px;
}